.btn {
  border-radius: 4px;
  padding: 7px;
  background-color: #3282b8;
  border: 0px;
  color: #fafafa;
  cursor: pointer;
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.btn:hover {
  background-color: #26638c;
}
