.profile {
  .content {
    display: flex;
    @media (max-width: 768px) {
      flex-direction: column;
    }
    .profile-img {
      border-radius: 21px;
      width: 180px;
      height: 100%;
      @media (max-width: 768px) {
        display: none;
      }
    }
    .text {
      margin-left: 14px;
      @media (max-width: 768px) {
        margin-top: 14px;
        margin-left: 0;
      }
      display: flex;
      flex-direction: column;
      .title {
        margin: 7px;
        font-size: 24px;
        font-weight: bold;
      }
      .description {
        margin: 7px;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}
