.article {
  .content {
    .title {
      margin: 0 0 21px 0;
    }
    .item {
      cursor: pointer;
      text-decoration: none;
      .item-img {
        border-radius: 21px;
        width: 100%;
        margin-bottom: 14px;
      }
      .item-title {
        color: #5374ff;
        font-size: 16px;
        font-weight: 600;
        margin: 0px;
      }
    }
    .article-divider {
      margin: 21px;
    }
  }
}
