.container {
  margin: 35px;
  @media (max-width: 767px) {
    margin: 14px;
  }
  .section {
    display: flex;
    &.column {
      flex-direction: column;
    }
    &.row {
      flex-direction: row;
      @media (max-width: 767px) {
        flex-direction: column;
      }
    }
    .item-section {
      padding: 14px;
      &.flex-1 {
        flex: 1;
      }
    }
  }
}
